<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login form</title>
</head>
<body>
	<p th:if="${param.error}">Invalid credentials</p>
	<p th:if="${param.logout}">Logged out</p>

	<form th:action="@{/login}" method="post">
		<label>User Name:</label><input id="user" type="text" name="username" /><br />
		<label>Password:</label><input id="password" type="password" name="password" /><br />
		<input id="signIn" type="submit" value="Sign In" /><br />
	</form>
</body>
</html>
